<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title text-center">Delivery</h3>
	</div>

	<div class="panel-body">
		<h3 class="text-center">Como deseja sua pizza?</h2>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Tamanho</h3>
			</div>

			<div class="panel-body">
				
				

			</div>
		</div>
	</div>
</div>