<div class="panel panel-info">
	<div class="panel-heading">
    	<h3 class="panel-title text-center">Cardapio</h3>
  	</div>
<div class="panel-body">
	<div class="media">   		
      <figure class="pull-left">
      	<%= image_tag("pizza.jpg", width: "120px", height: "120px", class: "media-object") %>
    	</figure>
  		<div class="media-body well">
    		<h4 class="media-heading">Pizza de asdf</h4>
    		Mussum Ipsum, cacilds vidis litro abertis. Leite de capivaris, leite de mula manquis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. A ordem dos tratores n達o altera o p達o duris Paisis, filhis, espiritis santis.
  		</div>
	</div>

	<div class="media" >
  		<figure class="pull-left">    	
      	<%= image_tag("pizza.jpg", width: "120px", height: "120px") %>
    	</figure>
  		<div class="media-body well">
    		<h4 class="media-heading">Pizza de asdf</h4>
    		Mussum Ipsum, cacilds vidis litro abertis. Leite de capivaris, leite de mula manquis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. A ordem dos tratores n達o altera o p達o duris Paisis, filhis, espiritis santis.
  		</div>
	</div>
</div>
</div>